@charset "utf-8";
#page{
	width: 100%;
	margin: 0 auto;
}
.page-inner{
	
	margin: 0 auto;
	background: #FF5722;
	text-align: center;
}
.page-inner>span ,.page-inner>a{
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border: 0;
	float: left;
	border-radius: 6px;
	background-color: #fff;
	color: #3951B3;
	margin-right: 20px;
	margin-top: 14.4px;
}
.page-inner span{
	width: 60px;
}
.page-inner a:hover{
	background: #FF5722;
}
.page-inner span:hover{
	background: #FF5722;
}